<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      
    <style type="text/css">
    
        #container {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
        
        input[type=text] {
            padding: 10px;
            width: 70%;
        }
        
        input[type=button] {
            background: red;
            width: 10%;
            color: white;
            border: 0;
            cursor: pointer;
            padding: 12px;            
        }
        
    </style>  
    
    
  </head>
  <body>
      <div id="container"> 
          <input id="modules" type="text" placeholder="search"><input id="search-button" type="button" value="Search">
          
          <div class="result"></div>
      </div>      
      
      <script type="text/javascript">
          $(function() {
      
              $.get('/modules', function(data){
                        $('.result').html(data);  
                        var results = data.split("\n");
                  
                        $( "#modules" ).autocomplete({
                            source: results
                        });
              });      

              $("#search-button").on('click', function(){
                    //Do the markdown rendering and stuff
              });
        });   
      </script>
      
  </body>
</html>
